.container-fluid{

  background-position: 0px 179px;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url(/assets/img/308.png);
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-attachment: fixed;
    background-size: cover;
  text-align: center;

}
.container{
  margin: 50px auto;
  background-color: azure;
  height: 100%;
  border-radius: 8px;
  padding-bottom: 30px;
}
.row{
  margin: 0px;
}
.name{
  color: black;
  text-align: center;
  margin-bottom: 70px;
}
h5,h3{
  padding: 20px;
}
table {
  width: 100%;
}
.col-md-4{



}
