<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6>S5 Elective</h6>
          <div class="elective" (click)="getElective()">
            <h6>Predict</h6>
          </div>
      </div>
      <!--<div class="col-md-3">
        <h6>S6 Elective</h6>
        <div class="elective">
          <h6>Predict</h6>
        </div>

      </div>
      <div class="col-md-3">
        <h6>S7 Elective</h6>
        <div class="elective">
          <h6>Predict</h6>
        </div>

      </div>
      <div class="col-md-3">
        <h6>S8 Elective</h6>
        <div class="elective">
          <h6>Predict</h6>
        </div>

      </div>
    </div>-->




  </div>
  <div  *ngIf="divopen && ElectiveData">
      <div class="row">
        <div class="col-md-6">
          <h4>{{ElectiveData[0]}}</h4>
        </div>
        <div class="col-md-6">
          <h4>{{ElectiveData[1]}}</h4>
        </div>

      </div>
  </div>

  <!--<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6 class="elective">Seminar Topic : <span>adasdasdasdasd</span>  </h6>
      </div>
      <div class="col-md-6">
        <h6 class="elective">Project Topic : <span>adasdasdasdasd</span>  </h6>
      </div>

    </div>

  </div>-->

<div class="container">
  <div class="row">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">

    </div>

  </div>

</div>

</div>
