.container{
  margin-top: 100px;
  text-align: center;
}
.row{
  color: white;
}
.elective{
  background-color: #343a40;
  padding: 20px;
border-radius: 10px;
}
.sem{
  color: white;
  background-color: #343a40;
  padding: 20px;
border-radius: 10px;
text-align: left;
}
.topic{
  background-color: #343a40;
  padding: 20px;
border-radius: 10px;
}
.col-md-6{
  background-color: #343a40;
  padding: 20px;
border-radius: 10px;

}
