<div class="container-fluid">
  <div class="container">
    <h2 style="padding-top:50px;">Faculty Details</h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
          <mat-card>
            <h6>Faculty ID</h6>
            <hr>
            <div class="avatar">


            </div>
            <div class="details">
              <h4>Name</h4>
              <h5>Designation</h5>


            </div>
          </mat-card>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>

    </div>

  </div>

</div>
