<div class="container-fluid">
  <div class="">
    <div class="row">
      <div class="col-md-6">
            <h6>Attentention Required:0</h6>
      </div>
      <div class="col-md-6">
            <h6>Currently Under:0</h6>
      </div>
    </div>



  </div>
  <div class="container">
    <h4>Series 1</h4>
    <h6>{{message['course_name']}}</h6>
    <div class="row">

      <div class="col-md-6">
        <h6>Mark Distribution</h6>
        <div style="display: block" *ngIf="message['total_mark_distrib']">
          <canvas baseChart
            [datasets]="[{data:message['total_mark_distrib'],label:'distribution'}]"
            [labels]="barChartLabels.slice(0,message['total_mark_distrib'].length)"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [colors]="colors"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="col-md-6">
        <h6>PASS:{{message['passed']}}</h6>
        <div style="display: block" *ngIf="message['passed']">
      <canvas baseChart
        [data]="[message['passed'],message['failed']]"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
      </div>

    </div>
    <div class="row">

    </div>

  </div>

</div>
