p{
  margin-top: 200px;
  color: white;
}
.container-fluid{

  background-position: 0px 179px;
  background-repeat: no-repeat;
  width: 100%;
  //background-image: url(/assets/img/308.png);
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: #212529;
  background-attachment: fixed;
    background-size: cover;
  text-align: center;
  color: white;

}
.container{
  margin: 50px auto;
  background-color: #343a40;
  height: 100%;
  border-radius: 8px;
  padding: 30px;
}
.row{
  margin: 0px;

}
.name{
  color: white;
  text-align: center;
  margin-bottom: 70px;
}
h5,h3,h4,h6{
  padding: 5px;
}
table {
  width: 100%;
}
.col-md-4{



}
.mat-tab-label-content {
  color: white !important;
}
img{
  height: 150px;
}

.tab1 { padding-left: 4em; }
   .tab2 { padding-left: 8em; }
   .tab3 { padding-left: 12em; }
   .tab4 { padding-left: 16em; }
   .tab5 { padding-left: 20em; }
   .tab6 { padding-left: 24em; }
   .tab7 { padding-left: 28em; }
   .tab8 { padding-left: 32em; }
   .tab9 { padding-left: 36em; }
   .tab10 { padding-left: 40em; }
   .tab11 { padding-left: 44em; }
   .tab12 { padding-left: 48em; }
   .tab13 { padding-left: 52em; }
   .tab14 { padding-left: 56em; }
   .tab15 { padding-left: 60em; }
   .tab16 { padding-left: 64em; }
canvas{
  color: white;
}
.table{
  color: white !important;
}
