
.container{
  padding-top: 100px;
  width: 50%;
//  background-color: #212529;;
}
.center{
  text-align: center;
}
.background{
  width: 100%;
  height: 100%;
      //background-image: url(/assets/img/308.png);
    //    background-color: #212529;
    //  background-size: cover;
    //  background-position: 0px 179px;
    //  background-repeat: no-repeat;
}
.jumbotron[_ngcontent-c3] {
    background-color: #343a40 !important;
}
.mat-stepper-horizontal{
  background-color: #00000000 !important;
}
button{
  margin: 10px;
  padding: 8px auto;;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-form-field{
  width: 75%;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
span,p{
  color: white;
}
input{
  color: white !important;
}
#example-radio-group-label{
  color: white;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 20px;
}
