<div class="background">
  <div class="container">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Personal Details</ng-template>
                <div class="jumbotron center">


                    <mat-radio-group id="genderad">
                      <mat-radio-button value="1">Male</mat-radio-button>
                      <mat-radio-button value="2">Female</mat-radio-button>
                    </mat-radio-group><br>
                      <mat-form-field style="width:60%;margin-right:10px;">
                       <span matPrefix>+91 &nbsp;</span>
                       <input type="tel" matInput placeholder="Mobile Number" required>
                     </mat-form-field>
                     <mat-form-field style="width:60px;">
                         <input type="text"  matInput placeholder="Age" formControlName="firstCtrl" maxlength="2" size="2" required>
                     </mat-form-field><br>
                     <mat-form-field>
                        <textarea matInput placeholder="Address" required></textarea>
                      </mat-form-field><br>
                      <mat-form-field>
                          <mat-label>Father's Occupation</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let jobs of Jobs1" [value]="jobs.value">
                              {{jobs.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      <br>
                      <mat-form-field>
                          <mat-label>Mother's Occupation</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let jobs of Jobs2" [value]="jobs.value">
                              {{jobs.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      <br>
                      <mat-radio-group>
                        <mat-radio-button value="1">Day Scholar</mat-radio-button>
                        <mat-radio-button value="2">Hosteler</mat-radio-button>
                      </mat-radio-group><br>
                  <mat-form-field>
                      <input matInput placeholder="No of Backlog" formControlName="firstCtrl" required>
                  </mat-form-field><br>
                  <mat-form-field>
                      <input matInput placeholder="Batch" formControlName="firstCtrl" required>
                  </mat-form-field><br>
                  <mat-form-field>
                      <input matInput placeholder="Current Semester" formControlName="firstCtrl" required>
                  </mat-form-field>

                  <div>
                      <button mat-button matStepperNext class="btn btn-primary">Next</button>
                  </div>
                </div>


            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Academic Details</ng-template>
                <div class="jumbotron center">
                  <mat-form-field>
                      <input matInput placeholder="Address" formControlName="secondCtrl" required>
                  </mat-form-field>
                  <div>
                      <button mat-button matStepperPrevious class="btn btn-info">Back</button>
                      <button mat-button matStepperNext class="btn btn-primary">Next</button>
                  </div>
                </div>

            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="jumbotron center">
              You are now done.
              <div>
                            <button mat-button matStepperPrevious class="btn btn-info">Back</button>
                <button class="btn btn-success"  (click)="basicModal.show()" mdbWavesEffect>Submit </button>
              </div>
            </div>

        </mat-step>
    </mat-horizontal-stepper>


  </div>

</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Analysis Made</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>

      </div>
    </div>
  </div>
</div>
