.particles-wrapper {
    position: relative;
    background:linear-gradient(to right,#1cb5e0,#000046);
    color: white;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
}
.description {
        padding:40px;
}
.row,.container,.container-fluid{
  text-align: center;
  padding: 0px;

}
.logo{
  width: 300px;
  margin: 30px;
}
.buttons{
  margin-top:50px;
}
.log,.reg {
    width: 90%;
color: #10b1c5;
background-color: #ffffffe0;
padding: 20px;
text-decoration: none;
border: 0px solid #10b1c5;
border-radius: 40px;
margin-top: 50px;
font-size: 20px
}



.log:hover {
    background-color: #10b1c59e;
    color: white;
}

.reg:hover {
    color: white;
    background-color: #10b1c59e;
}


.signupbtn{
  border-radius: 50px;
}



.form-dark .font-small {
font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
top: 2px;
width: 15px;
height: 15px; }

.form-dark .md-form label {
color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
border-bottom: 1px solid #00C851;
-webkit-box-shadow: 0 1px 0 0 #00C851;
box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
border-bottom: 1px solid #00C851;
-webkit-box-shadow: 0 1px 0 0 #00C851;
box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
color: #fff; }

.form-dark input[type="checkbox"] + label:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 17px;
height: 17px;
z-index: 0;
border: 1.5px solid #fff;
border-radius: 1px;
margin-top: 2px;
-webkit-transition: 0.2s;
transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
top: -4px;
left: -3px;
width: 12px;
height: 22px;
border-style: solid;
border-width: 2px;
border-color: transparent #00c851 #00c851 transparent;
-webkit-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);
-webkit-backface-visibility: hidden;
-webkit-transform-origin: 100% 100%;
-ms-transform-origin: 100% 100%;
transform-origin: 100% 100%; }

.form-dark .modal-header {
border-bottom: none;
}
.one{
		background-image: url('../../assets/img/bg.jpg');
		  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	}
	section{

		text-align: center;

	}
	.icons{
		font-size: 16vh !important;
		padding-bottom: 50px;
		padding-top: 15px;
	}
	h1{
		padding-top: 100px;
		padding-bottom: 70px;
	}
	.one{
		background-color: #2493c0b5;
		color: white;
	}
	img{
		width: 500px;
		padding-bottom: 100px;

	}
	.cards{
		        border-radius: 50%;
		        width: 200px;
		        height: 200px;
    padding: 30px;
    background-color: #ffffff;
    color: #2493c0;
    margin: 0px auto;
}
	.five{
		background-color: white;
		}
	.three{

		background-image: url('../../assets/img/features.jpg');
	 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	}
	.title{
		    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    width: 80%;
    margin:10px auto;
	}
