<div class="container-fluid first">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <img src="../../assets/img/Logo.png" alt="Logo.png">
          <h1>KTU result Predictor & Analyser</h1><hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-6">
              <div class="login">
                <h2 class="pad">Log In</h2>
                <h6 style="padding-bottom:30px;">Welcome</h6><hr>
                <form [formGroup]="loginform">
                  <mat-form-field appearance="outline" style="width:80%;">
                    <mat-label>Mail id</mat-label>
                    <input id="Form-email5" formControlName="emailLogin" matInput placeholder="Enter your email" required>
                  </mat-form-field><br>
                  <mat-form-field appearance="outline" style="width:80%;">
                        <mat-label>Password</mat-label>
                    <input id="Form-pass6" formControlName="passwdLogin" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                    <button style="color:white;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field><br>
                  <button class="btn btn-primary" [disabled]="!loginform.valid" (click)="onSignin();" block="true" type="button" name="button">Log In</button>
                </form>
                <div class="row">
                  <div class="col-md-12">
                    <p>Don't Have an Account?  <a style="color:#2196f3;"(click)="basicModal.show()">Sign Up</a></p>


                  </div>

                </div>
              </div>
      </div>

    </div>

  </div>

</div>

<!-- Modal start
========================================================================================================
==============================================================================================

-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" routerLink="/dashboard/homepage">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()" routerLink="/dashboard/homepage">
          <span aria-hidden="true" style="color:white;">×</span>
        </button>
        <h4 class="modal-title w-100 pad" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
          <form [formGroup]="signupform">
            <mat-form-field appearance="outline" style="width:80%;">
              <mat-label>Univ Reg No </mat-label>
              <input id="Form-text5" formControlName="uniregno" matInput placeholder="Enter Univ Reg No">
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width:80%;">
              <mat-label>Admission No </mat-label>
              <input id="Form-text6" formControlName="adno" matInput placeholder="Enter Admission No">
            </mat-form-field><br>

          <mat-form-field appearance="outline" style="width:80%;">
            <mat-label>Name </mat-label>
            <input id="Form-text7" formControlName="uname" matInput placeholder="Enter Name">
          </mat-form-field><br>
          <mat-form-field appearance="outline" style="width:80%;">
            <mat-label>Mail id</mat-label>
            <input id="Form-email6" formControlName="mailId" matInput placeholder="Enter your email" required>
          </mat-form-field><br>
          <mat-form-field appearance="outline" style="width:80%;">
                <mat-label>Password</mat-label>
            <input id="Form-pass5" formControlName="passwd1" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button style="color:white;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field><br>
          <button type="button" class="btn btn-success" name="button" [disabled]="!signupform.valid" (click)="onSignup();">Sign Up</button>
            </form>
            <div class="row">
              <div class="col-md-6 offset-3">
                <div class="alert alert-success" *ngIf="errorSignup=='success'">
           <strong>Success!</strong> Account Created Successfully
                <br>Please Login
         </div>
         <div class="alert alert-danger" *ngIf="errorSignup!='success' && errorSignup!='ok' " >
            <strong>Sorry!</strong> {{errorSignup}}
          </div>

              </div>

            </div>
      </div>

    </div>
  </div>
</div>

<!--
=======================================================================================
============================================================================================

 Modal end -->
<div class="container-fluid second">
  <h1 class="heading">What we do</h1>
  <hr>

  <div class="timeline">
  <div class="contain left">
    <div class="content">
      <h3>Students</h3>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="contain right">
    <div class="content">
      <h3>Faculty</h3>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="contain left">
    <div class="content">
      <h3>HOD</h3>

      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>

</div>

</div>

<div class="container-fluid third">
  <div class="container" id="con" >

        <h1 class="heading">Features</h1>
        <hr style="border-color: rgba(255, 255, 255, 0.35);">
          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
            <div class="view w-100">
              <div class="feature">
                <div class="details">
                  <h2 class="pad">Khow Your Position</h2>
                  <p>sdffffffffffffsdfsdfsfdsfsfsf</p>
                  <div class="img">
                        <i class="fa fa-trophy icon" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <div class="view w-100">
              <div class="feature">
                <div class="details">
                  <h2 class="pad">Khow Toppers</h2>
                  <p>sdffffffffffffsdfsdfsfdsfsfsf</p>
                  <div class="img">
                        <i class="fa fa-graduation-cap icon" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <div class="view w-100">
              <div class="feature">
                <div class="details">
                  <h2 class="pad">Evaluate Your Performance</h2>
                  <p>sdffffffffffffsdfsdfsfdsfsfsf</p>
                  <div class="img">
                    <i class="material-icons icon">insert_chart</i>
                  </div>
                </div>
              </div>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <div class="view w-100">
              <div class="feature">
                <div class="details">
                  <h2 class="pad">Predict Your Result</h2>
                  <p>sdffffffffffffsdfsdfsfdsfsfsf</p>
                  <div class="img">
                        <i class="fa fa-magic icon" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <div class="view w-100">
              <div class="feature">
                <div class="details">
                  <h2 class="pad">Elective Prediction</h2>
                  <p>sdffffffffffffsdfsdfsfdsfsfsf</p>
                  <div class="img">
                        <i class="fa fa-book icon" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <div class="view w-100">
              <div class="feature">
                <div class="details">
                  <h2 class="pad">Project Partner Recomendation</h2>
                  <p>sdffffffffffffsdfsdfsfdsfsfsf</p>
                  <div class="img">
                        <i class="fa fa-users icon" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            </mdb-carousel-item>

            </mdb-carousel>
  </div>
  <div class="container">

    <h1 style="margin-top:100px;">Register to Explore</h1>
    <p>Explore the product , evaluate you performance</p>

    <button type="button" class="btn btn-primary" style="margin-top:20px;padding:10px;" (click)="basicModal.show()" name="button">Register</button>

  </div>

</div>
<div class="container-fluid fourth">
    <div class="container">
      <h1 class="heading">Let's Get In Touch</h1>
      <hr>
      <p style="padding-top: 50px;margin-bottom:30px;">The analysed data may not be 100% perfect.
         The data is extracted from PDF files published by Abdul Kalam Technological University.
          Format of the PDF files changes and hence the scripts are modified accordingly.
           There are chances for bugs and it may reduce the accuracy of the data analysed.
            We take all our efforts to provide you accurate information.
             If you find any issues in the data displayed we request you to help us in resolving them.</p>
      <i class="fa fa-envelope" aria-hidden="true"></i><br>
      <a href="">email me</a>



    </div>
    <!-- Footer -->

<!-- Footer -->
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; KTU result Predictor & Analyser </small>
    </div>
  </footer>
